*{
	margin:0;
	padding:0;}
body {
	background-image: url(../../images/login_01/login_02.gif);
	background-repeat: repeat-x;
	height: 678px;
	margin: 0px;
	padding: 0px;
}
#content {
	margin-top: 90px;
	margin-right: auto;
	margin-bottom: 209px;
	margin-left: auto;
	padding: 0px;

}
#content #top {
	height: 185px;
	width: 480px;
	background-image: url(../../images/login_01/1_03.gif);
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}
#content #bottom {
	height: 193px;
	width: 480px;
	background-image: url(../../images/login_01/1_05.gif);
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#content #bottom table tr td table tr td {
	color: #0952a1;
	font-family: "宋体";
	font-size: 12px;
	text-align: right;
}
#content #bottom table tr td table tr td span .input_dd {
	width:140px;
	height:18px;
	background-color:#f5fafe;
	color:#333;
	font-size:12px;
	line-height:14px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 4px;
	display: block;
	margin-left: 8px;
	border: 1px solid #7491b5;
	float: left;
}
#content #bottom table tr td table tr td span .img {
	float: left;
	margin-top: 0px;
	margin-left: 0px;
	display: block;
}
