* {
	margin:0;
	padding:0;
}
body {
	width: 1024px;
	font-family: "宋体";
	font-size: 12px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #FFF;
	border-left-color: #FFF;
	background-color: #2B7CA8;
}
ul{
	list-style-type:none;}
img, h1, div {
	border:0;
}
.clear {
	clear:both;
}
#head {
	height: 111px;
	background-color: #d7eefe;
	
}
#head #nav_mail {
	background-image: url(../../images/index/ba_a.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	height: 32px;
	width: 1008px;
	text-align: center;
	margin-left: auto;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 0px;
	padding: 0px;
}

#nav_mail li {
	float: left;
}
#head #nav_mail .s {
	background-image: url(../../images/index/bg1.gif);
	height: 32px;
	width: 99px;
	display: block;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#head #nav_mail .a {
	background-image: url(../../images/bg1.gif);
	background-repeat: no-repeat;
	display: block;
	height: 32px;
	width: 13px;
}
#head #nav_mail .b {
	background-image: url(../../images/index/index.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 99px;
	display: block;
}
#head #nav_mail .b:hover {
	
	display: block;
}
#head #nav_mail .c {
	background-image: url(../../images/index/button_aa.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 99px;
	display: block;
}
#head #nav_mail .c:hover {
	background-image: url(../../images/index/button_a.gif);
	background-repeat: no-repeat;
}
#head #nav_mail .d {
	background-image: url(../../images/index/button_bb.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 123px;
	display: block;
}
#head #nav_mail .d:hover {
	background-image: url(../../images/index/button_b.gif);
	background-repeat: no-repeat;
}
#head #nav_mail .e {
	background-image: url(../../images/index/button_dd.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 123px;
	display: block;
}
#head #nav_mail .e:hover {
	background-image: url(../../images/index/button_d.gif);
	background-repeat: no-repeat;
}
#head #nav_mail .f {
	background-image: url(../../images/index/button_c.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 124px;
	display: block;
	background-position: 0px 0px;
}
#head #nav_mail .f:hover {
	background-image: url(../../images/index/button_cc.gif);
	background-repeat: no-repeat;
}
#head #nav_mail #g {
	background-image: url(../../images/ba_a.gif);
	display: block;
	height: 32px;
	width: 2px;
}
#head #line {
	display: block;
	height: 5px;
	width: 1008px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}


#content {
	width: 1024px;
	padding: 0px;
	float: left;
	background-color: #d7eefe;
	height: auto;
}
#content #center {
	height: 420px;
	width: 1006px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 15px;
	padding-bottom: 0px;
	background-color: #FFF;
	background-image: url(../../images/404/bg5.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}
效果#content #center #tb1 {
	line-height:26px;
	text-align:center;
	border:1px solid #096;
	background-image: url(../../images/index/but_b.gif);
	background-repeat: repeat-x;
	height: 26px;
	background-position: 0px 0px;
}
#content #center #tb {
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
}

#content #center #tb tr {
	line-height: 22px;
	height: 22px;
}

#content #center #tb #tb1 {
	line-height:26px;
	text-align:center;
	border:1px solid #096;
	background-image: url(../../images/index/8_17.gif);
	background-repeat: repeat-x;
	height: 26px;
	background-position: 0px 0px;
}

#content #center #tb,td {
	border:1px solid #b6d6e6;
	border-collapse:collapse;
	text-align: center;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
}
#content #center #tb .altrow {
	background-image: url(../../images/index/bg2.gif);
	background-repeat: repeat-x;
	height: 22px;
	line-height: 22px;
}
#content #center #tb tr td table .altrow_a {
	line-height: 29px;
	background-image: url(../../images/index/bg3.gif);
	height: 22px;
	padding-top: 4px;
}
#content #center #tb tr td table tr td .input {
	height: 16px;
	width: 130px;
	border: 1px solid #b5d6e6;
}
#content #center #tb tr td table tr td select {
	width: 130px;
	height: 18px;
	border: 1px solid #b5d6e6;
	font-size:9pt;
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
	margin-right: 5px;
	background-color: #F4F4F4;

}

#footer {
	background-image: url(../../images/footer/footer.gif);
	height: 26px;
	float: left;
	width: 1024px;
	background-repeat: repeat-x;
	background-position: 0px 0px;
}
#content #center table {

}
#content #center #tb h4 {
	height: 16px;
	width: 80px;
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
}
#content #center #tb .altrow_b {
	background-color: #f1f4f8;
}
#content #center table {
	border: 3px dashed #8DD7FA;
	background-color: #FFF;
	margin-top: 40px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 400px;
}
