* {
	margin:0;
 padding:;
}
div, h1, h2, h3, img {
	border:0;
}
body {
	text-align:center;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-size: 12px;
	background-color: #2b7ca8;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #FFF;
	border-left-color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
a{
	color: #F00;
	text-decoration: none;
}
a:hover{
	color: #000;
	text-decoration: none;
}
ul {
	list-style-type:none;
}
#content {
	float: left;
	width: 1024px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: auto;
	background-image: url(../../../images/admin/index/line01.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	padding-top: 2px;
	background-color: #FFF;
	z-index:-9999px;
}
#nav {
	height: 28px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(../../../images/admin/index/bg_head.jpg);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	width: 1024px;
	float: left;
}
#content form #left {
	float: left;
	width: 191px;
	height: auto;
}
#content form #right {
	float: left;
	width: 833px;
	height: auto;
	background-color: #FFF;
	background-image: url(../../../images/admin/index/line02.gif);
	background-repeat: repeat-y;
	background-position: 0px 0px;
}
#content form #right #con_right {
	float: left;
	width: 780px;
	border: 1px solid #0892d1;
	height: 400px;
	margin-top: 15px;
	margin-left: 15px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	margin-bottom: 30px;
	margin-right: auto;
	text-align: center;
}
#content form #right #con_right div {
	line-height: 24px;
	height: 24px;
	background-image: url(../../../images/admin/index/8_17.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	text-align: left;
	border: 1px solid #b6d6e6;
	margin-bottom: 4px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}
#content form #right #con_right div .img_a {
	margin-left: 10px;
	margin-right: 10px;
	float: left;
	display: block;
	margin-top: 6px;
}
#content form #right #con_right div .img_b {
	float: right;
	display: block;
	margin-top: 2px;
	margin-right: 5px;
}
#content form #right #con_right div span {
	float: left;
	color: #141414;
}
#content form #right #con_right #tb, td {
	border:1px solid #b6d6e6;
	border-collapse:collapse;
	text-align: center;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5px;
	background-repeat: repeat-x;
	background-position: 0px 0px;
	line-height: 22px;
	font-family: "宋体";
}
#content form #right #con_right #tb .altrow {
	background-image: url(../../../images/admin/index/bg2.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	height: 22px;
}
#content form #right #con_right #tb tr td .oii {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#content form #right #con_right #tb tr td .oii tr td {
	border:none;
}
