* {
	margin:0;
	padding:0;
}
body {
	width: 990px;
	margin:0 auto;
	font-family: "宋体";
	font-size: 12px;
}
img, h1, div {
	border:0;
}
.datalist {
	border:1px solid #BDDEF7;
	border-collapse:collapse;
	background-color:#FFFFFF;
	font-size:12px;
}
}
ul {
	list-style-type:none;
}
img, h1 {
	border:0;
}
.clear {
	clear:both;
}
#menu {
	background-image: url(../../images/fenzhi/menu_bg.gif);
	height: 25px;
	background-repeat: repeat-x;
	float: left;
	width: 988px;
	line-height: 18px;
	margin-bottom: 0px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #adb4be;
	border-bottom-color: #adb4be;
	border-left-color: #adb4be;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	display: inline-block;
	background-position: 0px 0px;
}
#header {
	background-image: url(../../images/fenzhi/head.gif);
	background-repeat: no-repeat;
	height: 97px;
	width: 990px;
}
#header .img_a {
	padding-top: 69px;
	padding-left: 800px;
}
#header .img_b {
	padding-top: 69px;
	margin-left: 16px;
}
#footer {
	background-image: url(../../images/fenzhi/footer.gif);
	background-repeat: repeat-x;
	height: 33px;
	width: 989px;
	background-position: 0px 0px;
	float: left;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #acb4be;
	border-bottom-color: #acb4be;
	border-left-color: #acb4be;
	font-weight: normal;
	text-align: center;
	padding-top: 10px;
	color: #1b4e83;
	line-height: 16px;
}
.altrow{background-color:#F0F9FF;}
#right #top a div {
	float: left;
	width: 550px;
}
#menu img {
	display: inline-block;
	padding-top: 8px;
	padding-left: 8px;
	height: 14px;
	width: 14px;
}
#right #top a .tb4 {
	padding-right: 6px;
	padding-top: 2px;
}
#menu span {
	padding-top: 0px;
	padding-left: 25px;
	margin-top: 0px;
	display: inline-block;
	padding-bottom: 2px;
	color: #454343;
}
#header .img_a {
	padding-top: 68px;
	padding-left: 800px;
}
#right {
	float: left;
	height: 405px;
	width: 984px;
	padding-top: 5px;
	padding-left: 4px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #acb4be;
	border-left-color: #acb4be;
	background-image: url(../../images/404/bg.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}
#right #top_a {
	height: 8px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #c6e4f8;
	border-left-color: #c6e4f8;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c6e4f8;
}
#right #top a strong img {
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 0px;
}
#right #top {
	border:1px solid #d3e0e8;
	background-image: url(../../images/fenzhi/menu_bga.gif);
	background-repeat: repeat-x;
	padding-left: 10px;
	text-align: left;
	background-position: 0px 0px;
	height: 24px;
	line-height: 24px;
	display: block;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	position: relative;
}
#right #top a {
	line-height:22px;
	margin-left:5px;
	text-decoration:none;
	color:#3a6486;
}
#center {
	height:28px;
	background-image: url(../../images/fenzhi/button_d.gif);
	background-repeat: repeat-x;
	border: 1px solid #d3e0e8;
	background-position: 0px 0px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
#center img {
	margin:2px 0 0 10px;
}

#bottom {
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;

	
}
#right #bottom table tr td span {
	line-height: 27px;
	color: #355A79;
	text-align: center;
}
#right #bottom table tr td .t {
	font-size: 12px;
	font-weight: bold;
}

#right #bottom table tr td #id0 {
	padding: 0px;
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 0px;
	margin-left: 2px;
	line-height: 27px;
	height: 20px;
}

#main #right #bottom #tb {
	border-collapse:collapse;
}
#bottom #tb1 {
	background-image: url(../../images/fenzhi/bg_cc.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}
#bottom #tb22 {
	background-image: url(../../images/fenzhi/menu_bga.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}
#bottom #tb3 {
	background-color:#f0f9ff;
}
#right #bottom #tb {
	border:1px solid #c6e4f8;
	border-collapse:collapse;
	text-align: center;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#right #center a img {
	margin-top: 6px;
}
#right #top .tb3 {
	position: absolute;
	left: 914px;
	top: 2px;
}
#right #top .tb5 {
	position: absolute;
	left: 849px;
	top: 32px;
}
#right #top .tb6 {
	position: absolute;
	left: 910px;
	top: 32px;
}
#right #center span {
	line-height: 22px;
	color: #3a6486;
}
#right #center div {
	font-size: 14px;
	padding: 5px;
	display: block;
	text-align: center;
	font-weight: bold;
	color: #3A6486;
}
#right #bottom table {
	border: 3px dashed #8DD7FA;
	background-color: #FFF;
	margin-top: 0px;
	text-align: center;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
