* {
	margin:0;
	padding:0;
}
body {
	font-family: "宋体";
	font-size: 12px;
	text-align: center;
	
}
ul{
	list-style-type:none;}
img, h1, div {
	border:0;
}
#head {
	width:1024px;
	background-color: #d7eefe;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 163px;
	
}
#head #banner p {
	position: absolute;
	top: 76px;
	left: 578px;
	color: #FFF;
	background-image: url(../../images/head/icon_c.gif);
	background-repeat: no-repeat;
	background-position: 0px center;
	display: block;
	text-indent: 20px;
}



#banner li {
	display:inline;
	float:right;
	margin-top: 60px;
	margin-right: 5px;
	margin-bottom: 0;
	margin-left: 0;
}
#head #center #nav_mail {
	background-image: url(../../images/index/ba_a.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	height: 32px;
	width: 1008px;
	text-align: center;
	margin-left: auto;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 0px;
	padding: 0px;
}

#nav_mail li {
	float: left;
}
#head #center #nav_mail .s {
	background-image: url(../../images/index/bg1.gif);
	height: 32px;
	width: 99px;
	display: block;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#head #center #nav_mail .a {
	background-image: url(../../images/bg1.gif);
	background-repeat: no-repeat;
	display: block;
	height: 32px;
	width: 13px;
}
#head #center #nav_mail .b a {
	background-image: url(../../images/index/index.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 99px;
	display: block;
	text-indent: -9999px;
}
#head #center #nav_mail .b a:hover {
	
	
	display: block;
}
#head #center #nav_mail .c a {
	background-image: url(../../images/index/button_aa.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 99px;
	display: block;
	line-height: 32px;
	background-position: 0px 0px;
	cursor:pointer;
	text-indent: -9999px;
	
}

#nav_mail .storeClass a{
	background-image: url(../../images/index/button_aa.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 99px;
	display: block;
	line-height: 32px;
	background-position: 0px 0px;
	cursor:pointer;
	text-indent: -9999px;
	
}

#head #center #nav_mail .c a:hover {
	background-image: url(../../images/index/button_a.gif);
	background-repeat: no-repeat;
	
}
#head #center #nav_mail .d a {
	background-image: url(../../images/index/button_bb.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 123px;
	display: block;
	line-height: 32px;
	cursor:pointer;
}

.entryClass{
	background-image: url(../../images/index/button_bb.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 123px;
	display: block;
	line-height: 32px;
	cursor:pointer;
}

#head #center #nav_mail .d a:hover {
	background-image: url(../../images/index/button_b.gif);
	background-repeat: no-repeat;
}
#head #center #nav_mail .e a {
	background-image: url(../../images/index/button_dd.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 123px;
	display: block;
	text-indent: -9999px;
	line-height: 32px;
}

.replaceClass{
	background-image: url(../../images/index/button_dd.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 123px;
	display: block;
	text-indent: -9999px;
	line-height: 32px;
}
#head #center #nav_mail .e a:hover {
	background-image: url(../../images/index/button_d.gif);
	background-repeat: no-repeat;
}
#head #center #nav_mail .f a {
	background-image: url(../../images/index/button_c.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 124px;
	display: block;
	background-position: 0px 0px;
	line-height: 32px;
	text-indent: -9999px;
}

.returnClsss{
	background-image: url(../../images/index/button_c.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 124px;
	display: block;
	background-position: 0px 0px;
	line-height: 32px;
	text-indent: -9999px;
}


#head #center #nav_mail .f a:hover {
	background-image: url(../../images/index/button_cc.gif);
	background-repeat: no-repeat;
}
#head #center #nav_mail #g {
	background-image: url(../../images/ba_a.gif);
	display: block;
	height: 32px;
	width: 2px;
}
#head #line {
	display: block;
	height: 5px;
	width: 1008px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#head #banner {
	height:97px;
	background-image: url(../../images/head/head4.gif);
	background-repeat: no-repeat;
	position: relative;
}
#head #banner .nav_b a {
	background-image: url(../../images/head/z.gif);
	background-repeat: no-repeat;
	height: 26px;
	width: 74px;
	position: absolute;
	left: 856px;
	top: 70px;
}
#head #banner .nav_b a:hover {
	background-image: url(../../images/head/t_a.gif);
	background-repeat: no-repeat;
}
#head #banner .nav_c a {
	background-image: url(../../images/head/t.gif);
	background-repeat: no-repeat;
	height: 26px;
	width: 74px;
	position: absolute;
	left: 939px;
	top: 70px;
}
#head #banner .nav_c a:hover {
	background-image: url(../../images/head/z_a.gif);
	background-repeat: no-repeat;
}
#head #center span {
	float:right;
	line-height:26px;
	margin-right:14px;
	display: block;
	background-image: url(../../images/head/icon.gif);
	background-repeat: no-repeat;
	background-position: 0px 10px;
	text-indent: 20px;
	padding-top: 4px;
	width: 200px;
	height: 28px;
}

 #head #center #nav_mail .g a {
	background-image: url(../../images/head/help.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 75px;
	display: block;
	background-position: 0px 0px;
	line-height: 32px;
	text-indent: -9999px;
}
#head #center #nav_mail .g a:hover {
	background-image: url(../../images/head/help_a.gif);
	background-repeat: no-repeat;
}



 .b1 {
	background-image: url(../../images/index/index.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 85px;
	display: block;
	text-indent: -9999px;
	line-height: 32px;
	background-position: 0px 0px;
	cursor:pointer;
}
.b2 {
	background-image: url(../../images/index/index_a.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 85px;
	display: block;
	line-height: 32px;
	cursor:pointer;
	text-indent: -9999px;
}



.c1 {
	background-image: url(../../images/index/button_aa.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 99px;
	display: block;
	line-height: 32px;
	background-position: 0px 0px;
	cursor:pointer;
	text-indent: -9999px;
}
.c2 {
	background-image: url(../../images/index/button_a.gif);
	background-repeat: no-repeat;
	display: block;
	height: 32px;
	width: 99px;
}
.d1 {
	background-image: url(../../images/index/button_bb.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 123px;
	display: block;
	line-height: 32px;
	cursor:pointer;
	text-indent: -9999px;
}
.d2 {
	background-image: url(../../images/index/button_b.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 123px;
	display: block;
	line-height: 32px;
	cursor:pointer;
	text-indent: -9999px;
}
.e1 {
	background-image: url(../../images/index/button_dd.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 123px;
	display: block;
	text-indent: -9999px;
	line-height: 32px;
}
.e2 {
	background-image: url(../../images/index/button_d.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 123px;
	display: block;
	line-height: 32px;
	cursor:pointer;
	text-indent: -9999px;
}
.f1 {
	background-image: url(../../images/index/button_c.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 124px;
	display: block;
	background-position: 0px 0px;
	line-height: 32px;
	text-indent: -9999px;
}
.f2 {
	background-image: url(../../images/index/button_cc.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 124px;
	display: block;
	line-height: 32px;
	cursor:pointer;
	text-indent: -9999px;
}


